@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.cuadro{
    width: 900px;
    border:5px solid aqua !important;
   margin: auto;
   text-align: center;
    height: auto;

}

.cuadro input{
    size:50px;
    width: 800px;
    font-family:  Arial;
    font-size: 40px; 
    margin:8px;

}

 h1{
    font-size: 100px;
    font-family: cursive;
    text-align: center;
    margin: 10px;
}