@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.cuadro{
    width: 900px;
    box-shadow: "0px 0px 50px black" ;
    background-color: rgb(5, 173, 173);
    border-radius: 8px;
   margin-top: 55px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;

}

.cuadro input{
    size:50px;
    width: 800px;
    font-family:  Arial;
    font-size: 40px; 
    margin:8px;

}

 h1{
    font-size: 100px;
    font-family: cursive;
    text-align: center;
    margin: 10px;
}

.izq{
    float: right;
    margin: 5px;
}

.ul{
    list-style:none;
    border: 2px solid white;
    text-align: center;
    font-size: 25px;
    font-family: cursive;
}